.container {
  /* -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75); */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: center;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
}

.clearButton {
  align-self: flex-start;
}

.button {
  flex: 1;
}

.pickerContainer {
  display: flex;
  max-height: 200px;
  margin-bottom: 10px;
}

.picker {
  flex: 1;
  overflow: auto;
}

.imgResults {
  align-self: center;
}